body {
    font-family: Arial;
    background-color: lightblue;
}

#header {
    background-color: lightgray;
    border: 2px solid black;
    text-align: right;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

#sidebar {
    background-color: cornflowerblue;
    border: 2px solid black;
    width: 200px;
    float: right;
    padding: 10px;
    margin: 10px;
}

.entry {
    background-color: white;
    border: 2px solid gray;
    margin: 10px;
    padding: 8px;
    width: 50%;
    float: left;
    overflow: auto;
    border-radius: 8px;
}

    .entry img {
        width: 120px;
        height: auto;
        float: right;
        margin-left: 10px;
        border: 1px solid #aaa;
    }

#footer {
    clear: both;
    background-color: darkslateblue;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
